<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free movie catalogue for you">
  <meta name="theme-color" content="#7F669D"/>
  
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="manifest" href="./app.webmanifest">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  
  <title>Kuliner Viral</title>
</head>
<body>
  <a href="#mainContent" class="skip-link">Skip to Content</a>

<header class="app-bar">
  <div class="app-bar__menu">
    <button id="hamburgerButton">☰</button>
  </div>
  <div class="app-bar__brand">
    <img src="./brand.png" alt="Kuliner Viral">
  </div>
  <nav id="navigationDrawer" class="app-bar__navigation">
    <ul>
      <li><a href="#/">Home</a></li>
      <li><a href="#/Favorite">Favorite</a></li>
      <li><a href="https://github.com/bosgadang">About Us</a></li>
    </ul>
  </nav>
</header>
<img class="hero__image" src="./hero-image_2.jpg" alt="hero image">
<main id="mainContent"></main>
<footer>
  <div id="footerTools">
    <button id="subscribePushNotification" class="btn">Subscribe Push Notification</button>
    <button id="unsubscribePushNotification" class="btn">Unsubscribe Push Notification</button>
  </div>
  <p>All data obtained from <a href="https://restaurant-api.dicoding.dev/" target="_blank" rel="noreferrer">Restaurant API Dicoding</a></p>
</footer>
</body>
</html>
